########################
# Configurações Próprias do Brazucas
########################
brazucasConfig.js

########################
# Configurações das conexões de banco.
########################
connections.js