.floatTabs {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10%;
}
.floatTabs .floatTab {
    position: absolute;
    right: 0;
    bottom: 0;
}

.floatTabs .floatTab .tabTitle {
    cursor: pointer;
    border-image: none;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 5px 25px;
    background-color: #0074cc;
    background-image: -moz-linear-gradient(center top , #08c, #05c);
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*color: #0088cc;*/
}

.floatTabs .floatTab .tabContent {
    display: none;
    background-color: white;
    /*padding: 5px 25px 5px 25px;*/
    margin-left: 0px;
}

.floatTabs .floatTab .tabTitle .notifications {
    display: none;
    float: left;
    margin-left: 5px;
    background: black;
    position: absolute;
    left: 0;
    border-radius: 25%;
    height: 17px;
    width: 14px;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 8px;
    font-weight: normal;
    background: #dc322f;
    top: 9px;
    padding-top: 2.5px;
}

.brzKillEvent .weapon {
    position: relative;
    left: 0;
}

.brzKillEvent .gamemodeOrMinigameName {
    position: relative;
    right: 0;
}

#webchat .chat {
    /*position: relative;*/
    width: 600px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#webchat .chat .panel {
    float: left;
    bottom: 0;
    margin: 0;
    height: 240px;
}

#webchat .chat .panel .messages {
    background-color: #ddd;
    width: 400px;
    min-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 270px;
    margin: 0;
    padding: 0;
}

#webchat .chat .panel .messages .othersMessage {
    float: left;
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 9px;
    padding: 9px 3px 3px 3px;
    margin: 7px 3px 3px 3px;
    border: 1px solid #008BE8;
    background-color: #dbedfe;
    background-image: -moz-linear-gradient(center bottom , #c7defe, #e7f1fe);
    border-radius: 4px;
}

#webchat .chat .panel .messages .username {
    position: absolute;
    border-radius: 4px;
    top: -7px;
    left: 6;
    z-index: 9999;
    border: 1px solid #008BE8;
    background-color: #dbedfe;
    background-image: -moz-linear-gradient(center bottom , #c7defe, #e7f1fe);
}

#webchat .chat .panel .newMessageArea {
    margin: 0;
    padding: 1px;
}

#webchat .chat .panel .newMessageArea .textArea {
    width: 100%;
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    padding: 2px;
    font-size: 12px;
    border: 0 none;
    display: block;
    margin: 0;
    min-height: 16px;
    outline: medium none;
    resize: none;
}

#webchat .chat .loggedUsers {
    background-color: #fff;
    width: 200px;
    height: 295px;
}