* {
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

.floatTabs {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10%;
}
.floatTabs .floatTab {
    position: absolute;
    right: 0;
    bottom: 0;
}

.floatTabs .floatTab .tabTitle {
    cursor: pointer;
    border-image: none;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 5px 25px;
    background-color: #0074cc;
    background-image: -moz-linear-gradient(center top , #08c, #05c);
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*color: #0088cc;*/
}

.floatTabs .floatTab .tabContent {
    display: none;
    background-color: white;
    /*padding: 5px 25px 5px 25px;*/
    margin-left: 0px;
}

.floatTabs .floatTab .tabTitle .notifications {
    display: none;
    float: left;
    margin-left: 5px;
    background: black;
    position: absolute;
    left: 0;
    border-radius: 25%;
    height: 17px;
    width: 14px;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 8px;
    font-weight: normal;
    background: #dc322f;
    top: 9px;
    padding-top: 2.5px;
}

.brzKillEvent .weapon {
    position: relative;
    left: 0;
}

.brzKillEvent .gamemodeOrMinigameName {
    position: relative;
    right: 0;
}

#webchat {
    z-index: 9999;
    min-width: 380px;
}

.webchat .tabTitle {
    min-width: 150px;
}

.chat {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

.chat .panel {
    bottom: 0;
    border: 0;
    margin: 0;
    height: 240px;
}

.chat .panel .messages {
    background-color: #ddd;
    min-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 270px;
    margin: 0;
    padding: 0;
}

.force-break-line {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    clear: both;
    hyphens: auto;
}

.chat .panel .messages .geral {
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 9px;
    padding: 9px 3px 3px 3px;
    margin: 7px 3px 3px 3px;
    border-radius: 4px;
    max-width: 300px;
}

.chat .panel .messages .othersMessage {
    float: left;
    background-color: #dbedfe;
    background-image: -moz-linear-gradient(center bottom , #c7defe, #e7f1fe);
}

.chat .panel .messages .userMessage {
    float: right;
    background-color: #fff;
    background-image: -moz-linear-gradient(center bottom , #eee, #fff);

}

.chat .panel .messages .notification {
    border: 1px solid #666;
    padding: 3px;
    margin: 0 auto;
    display: table;
    border-radius: 4px;
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 10px;
}

.loggedUsers {
    background-color: #fff;
    height: 295px;
}

.loggedUsers .username {
    padding-left: 3px;
    font-size: 12px;
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
}

.loggedUsers .username:hover {
    background-image: -moz-linear-gradient(center bottom , #eee, #fff);
    cursor: pointer;
}

.loggedUsers .loginType {
    background-image: -moz-linear-gradient(center bottom , #c7defe, #e7f1fe);
    border-radius: 4px;
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 9px;
    padding: 2px;
    margin-top: 1px;
}

.chat .panel .messages .username {
    font-weight: bold;
    margin-top: -6px;
    cursor: pointer;
}

.chat .panel .messages .messageText {
    font-size: 10px;
}

.chat .panel .newMessageArea {
    margin: 0;
    padding: 1px;
    background-color: #fff;
}

.chat .panel .newMessageArea .textArea {
    width: 100%;
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    padding: 2px;
    font-size: 12px;
    border: 0 none;
    display: block;
    margin: 0;
    min-height: 16px;
    outline: medium none;
    resize: none;
}

.realtime .title {
    color: #3e3e3e;
    font-size: 20px;
    margin-bottom: 10px;
}

.realtime .publicMatch {
    text-align: center;
    margin: 0 auto;
    display: table;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    position: relative;
}

.realtime .publicMatch .player {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 7px;
    margin-left: 7px;
}

.realtime .publicMatch .player img {
    padding: 2px;
}

.realtime .publicMatch .player img:hover {
    padding: 0px;
    border: 2px solid #0b97c4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.realtime .publicMatch .versus {
    font-size: 30px;
    color: #868686;
    float: left;
}

.realtime .publicMatch .playButton {
    position: absolute;
    float: right;
    vertical-align: middle;
    margin-top: 3px;
    display: none;
}

.gitHubCommits {

}

.gitHubCommits .commit {
    margin: 0 auto;
    display: table;
    text-align: left;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    float: left;
}

.gitHubCommits .commit .date {
    color: #6a6a6a;
    padding-right: 7px;
}

.gitHubCommits .commit .commitUrl {
    padding-left: 7px;
    display: none;
}

.f-nav{ z-index: 9999; position: fixed; top: 0; width: 100%;} /* this make our menu fixed top */

.nav { height: 42px;}
.nav ul { list-style: none; }
.nav ul li{float: left; margin-top: 6px; padding: 6px; border-right: 1px solid #ACACAC;}
.nav ul li:first-child{ padding-left: 0;}
.nav ul li a { }
.nav ul li a:hover{ text-decoration: underline;}